<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pet Pawradise</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- google fonts -->
 <link rel="stylesheet"  href= "assets/fonts/font.css">
 <!-- Fontawesome js -->
 <link rel="stylesheet"  href= "assets/fontawesome/all.css">
 <!-- custom style css -->
 <link rel="stylesheet" href= "css/style.css">

  <style>
  @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
  </style>

</head>

<body>
  <header>
    <!-- banner section -->
    <section class="banner" id="home">
      <ul class="banner-slider">
        <li class="banner-item active-banner">
          <div class="container">
            <h1>Get the pawfect pet right now!</h1>
            <p class="text">search for pets up for adoption near you</p>
            <a href= "search.html">
            <button type="button">search</button>
            </a>
          </div>
        </li>
        <li class="banner-item">
          <div class="container">
            <h1>Register a pet for adoption</h1>
            <p class="text">just a few clicks away for your fluff to get a new home</p>
            <a href= "register.html">
              <button type="button">register</button>
            </a>
          </div>
        </li>
        <!-- <li class = "banner-item">
              <div class = "container"><div class = "container">
                <h1>best</h1>
                <p class = "text">people who love to eat are always the best people.</p>
                <button type = "button">order now</button>
              </div>
            </li> -->
      </ul>
    </section>
    <!-- end of banner section -->

    <!-- navbar -->
    <nav class="navbar">
      <div class="container">
        <div class="brand-and-toggler">
          <a href="main.html" class="navbar-brand">
            <img src="assets/images/pawradise.png" alt="logo">
            <h2>Pet Pawradise</h2>
          </a>
          <button type="button" id="navbar-toggler">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li>
              <a href="#home">home</a>
            </li>
            <li>
              <a href="#about">about</a>
            </li>
            <li>
              <a href="register.html">Register</a>
            </li>
            <li>
              <a href="search.html">Search</a>
            </li>
            <li>
              <a href="#customerservice">Customer Experience</a>
            </li>
            <li>
              <a href="#contact">contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->
  </header>
  <!-- end of header -->

  <!-- about section -->
  <section class="padding-y about" id="about">
    <div class="container">
      <div class="about-row">
        <div class="about-col-1">
          <img src='assets/images/pet88.jpeg' alt="">
        </div>
        <div class="about-col-2">
          <!-- title -->
          <div class="title">
            <h2>About Pet Pawradise</h2>
            <div class="line center">
              <div></div>
              <span><i class="fas fa-paw"></i></span>
              <div></div>
            </div>
          </div>
          <!-- end of title -->
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto aut molestias
            excepturi, nam est optio id rerum aliquam, deserunt cum incidunt eum quos corporis error magni et
            necessitatibus enim?</p>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, consectetur dolore minus
            cupiditate quibusdam cumque libero iusto dolorum, facere, nostrum provident repellendus quos? Nisi, veniam
            rem molestias maiores saepe unde, error dignissimos ipsam laboriosam cupiditate fugit recusandae? Delectus
            veniam ducimus assumenda consequatur? Nostrum numquam error architecto esse quos assumenda asperiores.</p>
        </div>
        <div class="about-col-3">
          <img src='assets/images/pet7.jpeg' alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- end of about section -->


  <!-- customer service section -->
  <section class="padding-y customer" id="customerservice">
    <div class="container">
      <div class="custom-row">
        <h2 class ="custom-title">Subscribe to our Pup-arazzi!</h2>
        <p class = "custom-text">Join us and our pawsome users on their pawternity journeys with our weekly exclusives.</p>
        <div class = "custom-box">
          <i class = "fa fa-envelope"></i>
          <input type = "text" placeholder="username@email.com" name="">
          <button type = "submit" class="service-btn">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </section>
  <!-- end of about section -->


  <!-- contact section -->
  <section class="padding-y contact" id="contact">
    <div class="container">
      <!-- title -->
      <div class="title">
        <h2>Keep In Touch</h2>
        <div class="line center">
          <div></div>
          <span><i class="fas fa-cat"></i></span>
          <div></div>
        </div>
      </div>
      <!-- end of title -->
      <div class="contact-row-1">
        <form class="contact-form">
          <div class="contact-subrow">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="contact-subrow">
            <input type="text" class="form-control" placeholder="Phone">
            <input type="email" class="form-control" placeholder="Email">
          </div>

          <textarea rows="5" class="form-control" placeholder="Message"></textarea>
          <input type="submit" class="form-submit-btn" value="send message">
        </form>
      </div>
    </div>

    <div class="contact-info">
      <div class="container">
        <div class="contact-row-2">
          <div class="contact-col-1">
            <h2>Contact Detail <i class = "fas fa-paw"></i></h2>
            <ul>
              <li>Indian Institute of Technology, Ropar</li>
              <li>Phone: +91 83988 05715 , +91 91237 26566</li>
              <li>Email: adidas15901@gmail.com, 27ssikri@gmail.com </li>
              <li>Website: www.pawradise.com</li>
            </ul>
          </div>
          <div class="contact-col-2">
            <h2>Follow Us <i class = "fas fa-paw"></i> </h2>
            <p class="text">Do check us out on other social media platforms and follow us!</p>
            <ul class="center">
              <!-- <li class = "center">
                  <a href = "#">
                    <i class = "fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class = "center">
                  <a href = "#">
                    <i class = "fab fa-twitter"></i>
                  </a>
                </li> -->
              <li class="center">
                <a href="https://www.linkedin.com/in/shruti-sikri-32642814a/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li class="center">
                <a href="https://www.linkedin.com/in/aditi-das-517588209/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of contact section -->

  <!-- footer -->
  <footer>
    <p class="text">Copyright &copy; Pet Pawradise Website 2022.</p>
  </footer>
  <!-- end of footer -->



  <!-- jQuery -->
  <script src="assets/jquery/jquery-3.6.0.js"></script>
  <!-- Fontawesome js -->
  <script src="assets/fontawesome/all.js"></script>
  <!-- custom js file -->
  <script src="js/script.js"></script>

</body>

</html>
