<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pet Pawradise</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google fonts -->
 <link rel="stylesheet"  href= "assets/fonts/font.css">
 <!-- Fontawesome js -->
 <link rel="stylesheet"  href= "assets/fontawesome/all.css">
 <!-- custom style css -->
 <link rel="stylesheet" href= "css/style.css">
  
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
    </style>
  
  </head>
  <body>
    <header>
        <!-- navbar -->
      <nav class = "navbar fxd-reg">
        <div class = "container">
          <div class = "brand-and-toggler">
            <a href="main.html" class="navbar-brand">
              <img src="assets/images/pawradise.png" alt="logo">
              <h2>Pet Pawradise</h2>
            </a>
            <button type = "button" id = "navbar-toggler">
              <i class = "fas fa-bars"></i>
            </button> 
          </div>
          <div class = "navbar-collapse">
            <ul class = "navbar-nav">
              <li>
                <a href="main.html">go back to home</a>
              </li>
              <li>
                <a href = "#contact">contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- end of navbar -->
    </header>
    <!-- end of header -->
     
    







    <!-- contact section -->
    <section class = "padding-y contact" id = "contact">
        <div class = "contact-info">
          <div class = "container">
            <div class = "contact-row-2">
              <div class = "contact-col-1">
                <h2>Contact Detail <i class = "fas fa-paw"></i></h2>
                <ul>
                  <li>Indian Institute of Technology, Ropar</li>
                  <li>Phone: +91 83988 05715 , +91 91237 26566</li>
                  <li>Email: adidas15901@gmail.com, 27ssikri@gmail.com </li>
                  <li>Website: www.pawradise.com</li>
                </ul>
              </div>
              <div class = "contact-col-2">
                <h2>Follow Us<i class = "fas fa-paw"></i></h2>
                <p class = "text">Do check us out on other social media platforms and follow us!</p>
                <ul class = "center">
                  <!-- <li class = "center">
                    <a href = "#">
                      <i class = "fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class = "center">
                    <a href = "#">
                      <i class = "fab fa-twitter"></i>
                    </a>
                  </li> -->
                  <li class = "center">
                      <a href = "https://www.linkedin.com/in/shruti-sikri-32642814a/" target="_blank">
                      <i class = "fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li class = "center">
                    <a href = "https://www.linkedin.com/in/aditi-das-517588209/" target="_blank">
                      <i class = "fab fa-instagram" ></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end of contact section -->
  
      <!-- footer -->
      <footer>
        <p class = "text" >Copyright &copy; Pet Pawradise Website 2022.</p>
      </footer>
      <!-- end of footer -->
  
  
  
           <!-- jQuery -->
  <!-- jQuery -->
  <script src="'assets/jquery/jquery-3.6.0.js"></script>
  <!-- Fontawesome js -->
  <script src="assets/fontawesome/all.js"></script>
  <!-- custom js file -->
  <script src="js/script.js"></script>

      </body>
  </html>
  